h1 { color: violet; font-size: 250%; font-weight: bold }
body{background: lavender}

h2 { font-size: 150%; 
font-style: italic;}
	
	p { font-size: 12 pt } 
	
#navbar { width: 100% }
#navbar th { width: 20%;
 background: pink;}
#navbar th:hover { background: white }